/* ForgotPassword.css */

.forgotPasswordContainer {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
  border: 3px solid #2835ed;
  border-radius: 10px;
  background-color: #fff;
}

.heading {
  margin-bottom: 10px;
}

.forgotPasswordContainer h4 {
  color: #000000;
  margin: 2em;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin: 10px 0;
  border: 5px solid #000000;
  border-radius: 5px;
  padding: 10px;
}

.button {
  margin-top: 20px;
  border: none;
  background-color: #127de9;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.forgotPasswordContainer p{
  color: green;
}

.forgotPasswordContainer span{
  color: rgb(255, 0, 0);
}

.text {
  margin-top: 5px;
}

.rememberMeCheckbox {
  margin-top: 10px;
}

.forgotPasswordLink {
  color: #127de9;
  text-decoration: none;
}

.forgotPasswordLink:hover {
  color: #0C222C;
}

.createAccountLink {
  margin-top: 20px;
}

.formBasicEmail{
  color: #000000;
  text-align: left;
}
