/* StudentList.css */

/* Add these styles */
.company-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid #ccc;
    margin: 5px;
  }
  
  .company-details {
    display: flex;
    align-items: center;
  }
  
  .buttons-container {
    display: flex;
    gap: 10px;
  }
  
  p{
    color: white;
    font-family: serif;
    font-weight: 700;
    font-size: 17px;
    padding-top: 15px;
    margin-right: 10px;
    justify-content: center;
    text-align: center;
  }
  
  h2{
    align-items: center;
    color: white;
  }